.wrapper {
  align-items: flex-start;
  background-color: var(--white-color);
  border: 1px solid var(--grey-color-200);
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  min-height: 157px;
  justify-content: space-between;
  padding: 24px;
  width: 773px;
}

.vacancyBlock {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.title {
  color: var(--black-color);
  font: var(--font-h4);
}

.infoBlock {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.salary {
  color: var(--black-color);
  font: var(--font-h2);
}

.dot {
  background-color: var(--grey-color-600);
  border-radius: 50%;
  height: 5px;
  width: 5px;
}

.type {
  color: var(--black-color);
  font: var(--font-h2);
  font-weight: 400;
}

.city {
  color: var(--black-color);
  font: var(--font-text-2);
}

.locationBlock {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 11px;
}

.locationIcon {
  height: 16px;
  width: 13px;
}

.starIcon {
  cursor: pointer;
  height: 22px;
  width: 22px;
}

.fillStarIcon {
  cursor: pointer;
  height: 22px;
  width: 22px;
}

.hidden {
  display: none;
}
