.salary {
  border: 1px solid var(--grey-color-300);
  border-radius: 8px;
  font: var(--font-text-3);
  font-weight: 400;
  height: 42px;
  padding: 0 12px;
  width: 275px;

  &::placeholder {
    color: var(--grey-color-500);
  }

  &:focus {
    outline: var(--grey-color-300);
  }
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.arrowBlock {
  display: flex;
  flex-direction: column;
  gap: 9px;
  left: 92%;
  position: absolute;
  top: 30%;
}

.arrowDown,
.arrowUp {
  cursor: pointer;
  height: 5px;
  width: 9px;
}

.arrowUp {
  transform: rotate(180deg);
}
