.wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  padding: 40px;
  width: 100%;
}

.block {
  align-items: flex-start;
  background-color: var(--white-color);
  border: 1px solid var(--grey-color-200);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  padding: 24px;
  width: 773px;

  & p {
    color: var(--black-color);
    font: var(--font-h2);
  }

  & li {
    color: var(--black-color);
    font: var(--font-text-2);
    margin-left: 24px;
  }
}
